/* svg {
    border: 1px solid black;
    border-bottom: 0;
    border-top: 0;
  } */

  text {
      font-family: 'Open Sans';
      font-weight: 700;
  }

  .TooltipDiv {
    position: absolute;
    /* text-align: center; */
    width: 180px;
    height: 200px;
    border-width: 0px;
    padding: 0px;
    font-family: 'Open Sans';
    font-size: 11pt;
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
  }

  .ChartContainer {
      position: relative;
  }