:global(.-header) {
    background-color: #008eff;
    color: white;   
    /* font-weight: bold; */
}

.Table {
    width: 100%;
    height: 100%;
}

.TableContainer {
    display: flex;
    width: 100%;
    height: 95%;
}