.Header {
    padding: 15px 20px;
    height: 50px;
    background-color: white;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.LogoContainer {
    display: inline-flex;
    height: 50px;
    align-items: center;
    float: left;
}

.LogoImage {
    height: 24px;
    margin-right: 10px;
}

.LogoText {
    display: inline;
    float: left;
    color: #005E9B;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 2px;
    line-height: 50px;
    margin-top: 0;
}

.SemiTransparent {
    opacity: 0.5;
}

.MarginLeft5 {
    margin-left: 5px;
}

.MarginLeft10 {
    margin-left: 10px;
}

.Link {
    display: inline;
    float: right;
    color: #008eff;
    font-size: 0.75em;
    letter-spacing: 2px;
    margin-top: 5px;
    font-weight: bold;
    text-decoration: none;
}

@media only screen and (min-width: 321px) {
    .LogoText {
        font-size: 1.25em;
        letter-spacing: 5px;
    }
}

@media only screen and (min-width: 383px) {
    .Link {
        line-height: 50px;
        margin-top: 0px;
    }
}

@media only screen and (min-width: 500px) {
    .LogoImage {
        height: auto;
        margin-right: 20px;
    }
}